@use "./variables";

// Footer Styles
footer {
    background-color: variables.$steamBlack;
    padding: 1% 0;

    .footerContainer {
        display: flex;
        justify-content: center;
            a {
                text-decoration: none;
                color: variables.$green;
            }
    }
}