@use "./variables";

.gamesUl {
    display: flex;
    flex-wrap: wrap;
    padding: 100px auto;
    gap: 50px;
    justify-content: space-evenly;
        .newLiElement {
            width: calc((100% /2) - 100px);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            padding: 20px 0;
            border: 2px solid red;
                h2, p {
                    width: calc((100% / 2) - 40px);
                    display: flex;
                    justify-content: center;
                }
        }
}
    

.imgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
        img {
            // images are TOO SMALL and therefore BLURRY
            width: 70%;
        }
}

    
.platformsUl {
width: 100%;
display: flex;
justify-content: center;
gap: 30px;
    i {
        font-size: 30px;
        color: variables.$p3Blue;
    }
}
