@use "./variables";

// body{
//     background-color: variables.$darkBlue;
// }

.wrapper{
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
    padding-left: 0px;
}
