@use "./variables";

header {
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/consoles.png');
    background-color: variables.$darkBlue;

}

.header {
    height: 100%;
}

.headerFlex {
    display: flex;
    justify-content: center;
    

}

.welcome {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.instructions {
    width: fit-content;
    li {
        margin: 0 auto;
            h5 {
                margin: 10px auto;
            }
    }
}