@use "./variables";

header {
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/consoles.png');
    background-color: variables.$darkBlue;

}

.header {
    height: 100%;
}

.headerFlex {
    display: flex;
    justify-content: center;
    

}

.welcome {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.instructionsContainer {
    display: flex;
    justify-content: center;
        .instructions {
            width: fit-content;
            li {
                    h5 {
                        margin: 10px auto;
                    }
            }
        }

}
