@use "./variables";

.navBar{
    width: 100%;
    display: flex;
    border: 2px solid red;
    background-color: variables.$steamNav;
        .navFlex {
            display: flex;
            justify-content: space-between;
        }
            h2 {

                border: 2px solid red;
            }
            .navUlItems {
                border: 2px solid red;
                width: auto;
                justify-content: space-between;
                padding: 0;
                display: flex;
                color: variables.$green;
                    a {
                        color: variables.$green;
                    }
            }
 
    // .navUlItems{
    //     display: flex;
    //     padding: 0 5%;
    //     width: 40%;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     align-items: center;
    //     a{
    //         text-decoration: none;
    //         margin: 0 5%;
    //     }
    // }
}

.slideOutNav{
    display: none;
}