@use "./variables";

.navBar{
    width: 100%;
    display: flex;
    background-color: variables.$steamNav;
        .navFlex {
            display: flex;
            justify-content: space-between;
        }
            .navUlItems {
                width: fit-content;
                justify-content: space-between;
                gap: 15px;
                padding: 0;
                display: flex;
                color: variables.$green;
                align-self: center;

                    a {
                        text-decoration: none;
                        color: variables.$green;
                        align-items: center;
                        
                    }
                    a:hover{
                        text-decoration: underline;
                    }
            }
            .slideOutNav{
                // transform: translateY(0);
                // background-color: white;
                cursor: pointer;
                display: none;
                color: variables.$green;
                .hamburgerIcon{
                    display: visible;
                }
                .closeIcon{
                    display: none;
                }
            }
}

.slideOutNav{
    display: none;
}