@use "./variables";

.formSection {
    background-color: variables.$steamNav;
    padding: 25px 0;
}

#searchBar{
    display: flex;
    justify-content: center;
    select{
        margin: 0 3% 0 1%;
    }
    input{
        margin-left: 1%; 
    }
}