@use "./variables";

// Anybody Regular, Anybody Bold, Lato Regular, Lato Bold
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400;700&family=Lato:wght@400;700&display=swap');

html {
    // 1rem = 20px
    font-size: 125%;
}

h1,
h2,
p,
a
{
    font-family: 'Anybody', cursive, 'Lato', sans-serif;
    color: variables.$lightCyan;
}

input{
    width: 30%;
}

select,
option{
    color: variables.$steamNav;
}

select{
    font-family: 'Anybody', cursive;    
}

#currencyOption,
option{
    font-family: 'Lato', sans-serif;
    // font-family: 'Anybody', cursive;    
}

label{
    font-family: 'Anybody', cursive;
    color: variables.$green;
}

.mainHeader{

}

.navItem{

}
