// Colours:

    $p1BabyGreen: #D3FAD6;
    $p1TeaGreen: #D1EFB5;


    $p2Blue: #086375;
    $p2GreenYellow: #AFFC41;
    $p2MintGreen: #B2FF9E;

    $p3Blue: #006E90;
    $p3ColombiaBlue: #ADCAD6;
    $p3Green: #99C24D;

    $darkBlue: rgb(21,50,67);
    $grey: rgb(136, 183, 181);
    $indigo: rgb(40,75,99);
    $steamNav: #171a21;
    $green: rgb(174,247,142);
    $gradientBlue: rgb(34,81,109);
    $gunMetal: rgb(19,47,62);
    $lightCyan: rgb(204,224,223);